.alert-banner
    position fixed
    width 100%
    padding 1rem
    text-align center
    background-color $highlight-color

    &--text
        color #FFF
        font-size 1rem
        font-weight $headline-font-weight
