$flashBannerTextColor = #FFF
$flashBannerPadding = 1rem

.flash-banner
    position fixed
    box-sizing border-box
    width 100%
    padding $flashBannerPadding
    text-align center
    background-color $highlight-color
    top 0
    left 0

    &--text
        color $flashBannerTextColor
        font-size 1rem
        font-weight $headline-font-weight

    &--close-icon
        color $flashBannerTextColor
        position absolute
        right $flashBannerPadding
        top $flashBannerPadding
        cursor pointer
        user-select none

        &:hover
            font-weight $headline-font-weight

        &:active
            opacity 0.75

    &__error
        background-color $error-color
