.form

    &--thin
        min-width 400px // make it mobile fraindly
        margin auto

    &__header
        padding-bottom 0.5rem

    &__group
        padding-top 1rem

    &__input-label
        padding-bottom 0.5rem
        display block
        width 100%
        box-sizing border-box

    .textbox
        padding 0.75rem
        font-size 1rem
        width 100%
        box-sizing border-box

    .checkbox
        font-size 0.85rem

    .btn--link
        display block
        font-size 0.65rem
        margin-top 0.75rem
        color $primary-color


