.nav
    width 100%

    a
        color inherit

    &--container
        display flex
        padding 1rem
        align-items center

    &--headline
        font-size 1.75rem
        flex-grow 1
        color $primary-color

        a
            text-decoration none
            display inline-block

    &--list

        &-item
            display inline-block
            padding 0 0.25rem
            color $text-color



