.list-card {
    border: 1px solid $light-highlight;
    border-radius: 4px;
    padding: 1rem;
    width: 31%;
    margin: 1%;
    text-decoration: none;
    box-sizing: border-box;

    &__title {
        $headlineFontStyles();
        font-size 1.25rem;
        padding-bottom: 1rem;
        color: $primary-color;
    }
}
