.list
    min-width: 100%;
    padding: 0 1.5rem;
    max-width: 1024px;
    box-sizing: border-box;

    &__description
        padding 0 0 2rem 1rem

    &__list-items
        list-style-type decimal
        &--unordered
            list-style-type circle

.list-item
    margin 1rem

    &__title
        $headlineFontStyles()
        font-size 1.25rem
        padding-bottom 0.25rem
