/*
    Base styles file. Overall app styles & default element styling
*/

@require './substyles/reset'

body
    color $text-color
    background-color $background-color
    font-size 18px
    $defaultFontStyles()

body
html
    height 100%

h1
    color $primary-color
    font-size 3rem
    $headlineFontStyles()
    margin 0
    line-height 1

p
    color $text-color
    line-height 1.2

// Placeholder home page styles TO BE REMOVED OR MOVED
.home--subheadline
    color $highlight-color
    padding-left 1.5rem


.btn--primary
    padding 0.5rem 2rem
    border none
    border-radius 3px
    font-size 1rem
    background-color $highlight-color
    color #FFF
    cursor pointer
    transition background-color 0.15s
    outline none

    &:hover
        background-color darken($highlight-color, 20%)

    &:active
        background-color darken($highlight-color, 30%)
