

// Placeholder Product Colors

$primary-color = #052556
$light-primary-color = #7B8DA2
$lighter-primary-color = #ABB5C0

$grey-color = #CFD8D9

$highlight-color = #1CFED1
$light-highlight = #AADFD7
$dark-highlight = #0ACBB3

$background-color = #F4F3EE


// Fonts
//https://fonts.google.com/specimen/Work+Sans
//https://fonts.google.com/featured/Five+Fresh+Headline+and+Body+Text+Pairings
