

// Placeholder Product Colors

$primary-color = #052556
$light-primary-color = #7B8DA2
$lighter-primary-color = #ABB5C0

$grey-color = #CFD8D9

$highlight-color = #1CFED1
$light-highlight = #AADFD7
$dark-highlight = #0ACBB3

$background-color = #F4F3EE


// Fonts

//https://fonts.google.com/featured/Five+Fresh+Headline+and+Body+Text+Pairings
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,800')

$default-font = 'Work Sans', Arial, sans-serif
$default-font-weight = 300

$headline-font = $default-font
$headline-font-weight = 800


$defaultFontStyles()
    font-family $default-font
    font-weight $default-font-weight

$headlineFontStyles()
    font-family $headline-font
    font-weight $headline-font-weight

