@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,800);/*
    Main style file that includes the other root style files
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  color: #020e21;
  background-color: #f4f3ee;
  font-size: 18px;
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 300;
}
body,
html {
  height: 100%;
}
h1 {
  color: #052556;
  font-size: 3rem;
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 800;
  margin: 0;
  line-height: 1;
}
p {
  color: #020e21;
  line-height: 1.2;
}
.home--subheadline {
  color: #1cfed1;
  padding-left: 1.5rem;
}
.btn--primary {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  background-color: #1cfed1;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.15s;
  outline: none;
}
.btn--primary:hover {
  background-color: #01e1b4;
}
.btn--primary:active {
  background-color: #01c59e;
}
#main {
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.horizontal-center,
.error-page {
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.error-page {
  text-align: center;
}
.error-page--code {
  font-size: 6rem;
}
.error-page--message {
  font-size: 2rem;
  padding-left: 2rem;
  color: #1cfed1;
}
.flash-banner {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: #1cfed1;
  top: 0;
  left: 0;
}
.flash-banner--text {
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
}
.flash-banner--close-icon {
  color: #fff;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.flash-banner--close-icon:hover {
  font-weight: 800;
}
.flash-banner--close-icon:active {
  opacity: 0.75;
}
.flash-banner__error {
  background-color: #fd3572;
}
.form--thin {
  min-width: 400px;
  margin: auto;
}
.form__header {
  padding-bottom: 0.5rem;
}
.form__group {
  margin-top: 1rem;
  position: relative;
}
.form__group--has-error input {
  border-color: #fd3572;
}
.form__input-label {
  padding-bottom: 0.5rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 800;
}
.form__error-text {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75rem;
  line-height: 1;
  margin-top: 0.25rem;
  color: #fd3572;
}
.form .textbox,
.form .textarea {
  padding: 0.75rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.15s;
}
.form .textbox:hover,
.form .textarea:hover {
  border-color: #01c59e;
}
.form .textbox:focus,
.form .textarea:focus {
  border-color: #1cfed1;
}
.form .checkbox {
  font-size: 0.85rem;
}
.form .btn--link {
  display: block;
  font-size: 0.65rem;
  margin-top: 0.75rem;
  color: #052556;
}
.nav {
  width: 100%;
}
.nav a {
  color: inherit;
}
.nav--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav--headline {
  font-size: 1.75rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #052556;
}
.nav--headline a {
  text-decoration: none;
  display: inline-block;
}
.nav--list-item {
  display: inline-block;
  padding: 0 0.25rem;
  color: #020e21;
}
.list {
  min-width: 100%;
  padding: 0 1.5rem;
  max-width: 1024px;
  box-sizing: border-box;
}
.list__description {
  padding: 0 0 2rem 1rem;
}
.list__list-items {
  list-style-type: decimal;
}
.list__list-items--unordered {
  list-style-type: circle;
}
.list-item {
  margin: 1rem;
}
.list-item__title {
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
}
.list-card {
  border: 1px solid #aadfd7;
  border-radius: 4px;
  padding: 1rem;
  width: 33%;
  margin: 1rem;
  text-decoration: none;
}
.list-card__title {
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  color: #052556;
}
.list-card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list-card__container__headline {
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 800;
  padding: 1rem;
  font-size: 2rem;
}
.list-edit-form {
  width: 100%;
  max-width: 1024px;
}
.list-edit-form .list-item {
  padding-bottom: 2rem;
  position: relative;
}
.list-edit-form .list-item::before {
  content: '•';
  position: absolute;
  top: 0;
  left: -4rem;
  font-size: 16rem;
  color: #1cfed1;
  line-height: 20px;
}
.list-edit-form .list-items {
  padding-top: 2rem;
}
.list-edit-form .list-items__section-title {
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
