@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,800);
body {
  color: $text-color;
  background-color: #f4f3ee;
  font-size: 18px;
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 300;
}
#main {
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
h1 {
  color: #052556;
  font-size: 3rem;
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 800;
  margin: 0;
  line-height: 1;
}
p {
  color: #1cfed1;
  margin: 0;
  padding-left: 1.5rem;
}
