p {
    $defaultFontStyles();
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    $headlineFontStyles();
    margin: 0;
}

h1 {
    font-size: 3rem;
    padding-bottom: $padding-m;
}

h2 {
    font-size: 2.5rem;
    padding-bottom: $padding-s;
}

h3 {
    font-size: 2rem;
    padding-bottom: $padding-s;
}

h4 {
    font-size: 1.75rem;
    padding-bottom: $padding-xs;
    color: $text-color;
}

h5 {
    font-size: 1.5rem;
    padding-bottom: $padding-xs;
    color: $text-color;
}

h6 {
    font-size: 1rem;
    padding-bottom: $padding-xs;
    color: $text-color;
}
